@font-face {
  font-family: "Source Han Sans CN";
  src: url('~@/assets/font/SourceHanSansCN-Regular.otf');
}

.el-button--primary {
  height: 36px;
  background: #4270e4;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.yellow-btn {
  background: #FDA100;
  border: none;
}
.push-message-title {
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  font-weight: bold;
  .black {
    width: 2px;
    height: 21px;
    background: #386DF0;
  }
  .title {
    padding: 0 0 0 14px;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #386DF0;
  }
}

.push-message-form {
  width: 100%;
  // height: 60px;
  margin: 0 0 10px 0;
  padding: 5px 20px;
  background: #DDDDDD;
  justify-content: flex-start;
  flex-wrap: wrap;
  .el-input {
    width: 180px;
    margin: 5px 10px 5px 0;
  }
  .el-button--primary {
    height: 36px;
    margin: 5px 0 5px 0;
    padding: 0px 20px;
    background: #4270E4;
  }
}


/* === 字体 开始 ========= */
.font-1 {
  font-size: 19px;
  font-weight: 400;
  color: #666666;
}
.font-2 {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 800;
  line-height: 17px;
  color: #333333;
}
// 单行文本
.single-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 英文单词换行不截断单词
.english-word-wrap {
  word-break: break-word;

  // /* 这两个在技术上是一样的, 为了兼容了浏览器两个都加上 */
  // overflow-wrap: break-word;
  // word-wrap: break-word;
  // -ms-word-break: break-all;
  // /* 这个的使用在web-kit中有些危险，他可能会阶段所有东西 */
  // word-break: break-all;
  // /* Instead use this non-standard one: */
  // word-break: break-word;
  // /* 如果浏览器支持的话增加一个连接符(Blink不支持) */
  // -ms-hyphens: auto;
  // -moz-hyphens: auto;
  // -webkit-hyphens: auto;
  // hyphens: auto;
}
/* === 字体 结束 ========= */

/* === switch按钮文字在里面 开始 ========= */
// switch按钮总长度
::v-deep .my-switch, ::v-deep .my-switch.el-switch .el-switch__core, .el-switch .el-switch__label {
  width: 55px !important;
}
::v-deep .my-switch .el-switch__label {
  position: absolute;
  display: none;
  color: #fff;

  width: 100%;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  margin: 0;
}
// 关闭状态-文字位置
::v-deep .my-switch .el-switch__label--left {
  z-index: 9;
  // left: 20px;
  left: -5px;
  color: #7E7E7E;
}
// 关闭状态-圆点
::v-deep .my-switch .el-switch__core::after {
  background: #B5B5B5;
  // background: #4270E4 !important;
}

// 激活状态-文字位置
::v-deep .my-switch .el-switch__label--right {
  z-index: 9;
  left: 5px;
  color: #4270E4;
}
// 激活状态-圆点
::v-deep .is-checked .el-switch__core::after {
  background: #4270E4 !important;
}

::v-deep .my-switch .el-switch__label.is-active {
  display: block;
}
/* === switch按钮文字在里面 结束 ========= */

/* === 表格 开始 ========= */

::v-deep .el-table th .cell {
  word-break: break-word;
}


::v-deep .table-row-highlighted {
  background: #eaedee;
}
::v-deep .table-row-default {
  background: #ffffff;
}
.el-table {
  width: 100%;
  height: 100%;
}

::v-deep .el-table__body tr.current-row > td {
  background-color: #D4DEFB;
}

/* === 表格 结束 ========= */

/* === dialog弹窗 开始 ========= */
::v-deep .el-dialog__header {
  padding: 10px 20px;
  text-align: center;
  background: #386DF0;
}
::v-deep .el-dialog__title {
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #EEEEEE;
}
::v-deep .el-dialog__headerbtn {
  top: inherit;
  .el-dialog__close {
    font-size: 24px;
    color: #EEEEEE;
  }
}
.el-dialog__body {
  padding: 20px 30px;
  background: #EEEEEE;
}
/* === dialog弹窗 结束 ========= */

/* === 鼠标提示弹窗 开始 ========= */
/*
调用例子：
<div class="push-message-popover">
  <img class="btn" :src="提示图标路径" />
  <div class="dialog flex">
    <div class="arrow"></div>
    <div class="content english-word-wrap">提示内容</div>
  </div>
</div>
*/
.push-message-popover {
  height: 22px;
  margin: 0 0 0 6px;
  position: relative;
  overflow: initial;
  .btn:hover + .dialog {
    display: flex;
  }
  .dialog {
    display: none;
    width: 230px;
    position: absolute;
    top: 0;
    right: -230px;
    z-index: 10;
    align-items: flex-start;
    .arrow {
      width: 0px;
      height: 0px;
      border-bottom: 6px solid transparent;
      border-top: 6px solid transparent;
      border-right: 8px solid black;
      font-size: 0px;
      line-height: 0px;
      margin: 6px 0 0 0;
    }
    .content {
      padding: 8px 10px;
      font-family: Microsoft YaHei;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #FFFFFF;
      background: #000000;
      border-radius: 4px;
    }
  }
}
/* === 鼠标提示弹窗 结束 ========= */
