
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border-style: dashed;
  background-color: #757575;
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-clip: border-box;

}

::-webkit-scrollbar-thumb:active {
  background-color: #326CF3;

}

/*定义水平和垂直滚动条两者的交界处（拐角）*/
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* page部分 */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: color 0.5s, background-color 0.5s;
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #F9F9F9;
  border: 1px solid #DDDFE5;
}

.wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #DDDFE5;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #666666;
  background: #E8E8E8;
  font-size: 16px;
  font-weight: Bold;
  /* border-radius: 5px 5px 0px 0px; */
}

.header-edit:hover {
  background: url("../imgs/路径 824@2x.png");
  background-size: 100% 100%;
}

.header-edit {
  width: 17px;
  height: 17px;
  cursor: pointer;
  background: url("../imgs/路径 423@2x.png");
  background-size: 100% 100%;
}

.add-process {
  width: 100%;
  height: 100%;
  background: url("../imgs/组 4031@2x.png");
  background-size: 100% 100%;
}

.add-process:hover {
  background: url("../imgs/组 4190@2x.png");
  background-size: 100% 100%;
}

.add-file {
  width: 100%;
  height: 100%;
  background: url("../imgs/路径 70@2x.png");
  background-size: 100% 100%;
}

.add-file:hover {
  background: url("../imgs/路径 25@2x.png");
  background-size: 100% 100%;
}

.tree-search {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 100%;
  margin-right: 20px;
}

.tools {
  display: flex;
  align-items: center;
}

.tools> div {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.tools> div+div {
  margin-left: 15px;
}

.tree-container {
  flex: 1;
  overflow: auto;
}

.custom-tree {
  background: #f9f9f9;
}

.custom-tree-node {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.custom_node_label {
  /* width: calc(100% - 19px - 10px);
  max-width: calc(100% - 19px - 10px); */
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  font-family: 'PingFang SC-Regular';
  display: flex;
  align-items: center;
}

.input-field {
  width: 100%;
  height: calc(100% - 10px);
}

.floor-node {
  padding-left: 8px;
  box-sizing: border-box;
}

.floor-node-content {
  background: #EFEFEF;
}

.more {
  width: 30px;
  opacity: 0;
}
.more-content {
  width: 30px;
  height: 100%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent-node {
  min-width: 18px;
  width: 18px;
  height: 16px;
  background-image: url('../imgs/路径 20@2x.png ');
  background-size: 100% 100%;
  margin-right: 8px;
}

.child-node {
  min-width: 18px;
  width: 18px;
  height: 16px;
  background-image: url('../imgs/组 167@2x.png');
  background-size: 100% 100%;
  margin-right: 8px;
}