
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border-style: dashed;
  background-color: #757575;
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-clip: border-box;

}

::-webkit-scrollbar-thumb:active {
  background-color: #326CF3;

}

/*定义水平和垂直滚动条两者的交界处（拐角）*/
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.el-scrollbar .el-scrollbar__thumb{
  background: #000;
}

/* page部分 */
* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: color 0.5s, background-color 0.5s;
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #DDDFE5;
}

.charts {
  height: 65%;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

.table {
  height: calc(100% - 65% - 10px);
  box-sizing: border-box;
  background-color: #FCFCFC;
}

/* 表格样式 */
.custom-table {
  box-sizing: border-box;
  background: #FBFBFB;
}

.headerCellClass {
  color: #5A84FF;
  background: #E6EEFE !important;
}

.el-table tr .cell{
  padding: 10px 12px;
}

.el-table tr th:first-child, .el-table tr td:first-child{
  color: #fff;
  font-weight: normal;
  background: #326CF3 !important;;
}

/* 列宽高度自适应 */
.table .el-scrollbar__view, .table .el-scrollbar__view .el-table__body {
  height: 100%;
}