
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border-style: dashed;
  background-color: #757575;
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-clip: border-box;

}

::-webkit-scrollbar-thumb:active {
  background-color: #326CF3;

}

/*定义水平和垂直滚动条两者的交界处（拐角）*/
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.el-scrollbar .el-scrollbar__thumb{
  background: #000;
}

/* page部分 */
* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: color 0.5s, background-color 0.5s;
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.charts {
  height: 50%;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

.table {
  height: calc(100% - 50% - 10px);
  box-sizing: border-box;
  background-color: #FCFCFC;
}

.child-chart {
  position: relative;
}
.child-text {
  position: absolute;
  top: 16px;
  left: 110px;
}

.child-text:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 6px;
  left: -16px;
  background-image: url('../imgs/组 4029@2x.png');
  background-size: 100% 100%;
}

.date-text {
  color: #326CF3;
  text-decoration: underline;
  cursor: pointer;
}

/* 表格样式 */
.custom-table {
  box-sizing: border-box;
  background: #FBFBFB;
  border-radius: 6px 6px 0 0 ;
}

.headerCellClass {
  color: #fff;
  background: #326CF3 !important;
}

.el-table tr .cell{
  padding: 2px 0px;
}

.el-table .caret-wrapper {
  height: 19px;
}

.el-table .sort-caret {
  width: 1px;
}

.el-table .sort-caret.descending {
  border-top-color: #fff;
}

.el-table .sort-caret.ascending{
 border-bottom-color: #fff;
}

.el-table__footer-wrapper tbody td.el-table__cell {
  background: #F1F1F1;
}

/* .el-table tr th:first-child, .el-table tr td:first-child{
  color: #fff;
  font-weight: normal;
  background: #326CF3 !important;;
} */

/* 列宽高度自适应 */
.table .el-scrollbar__view, .table .el-scrollbar__view .el-table__body {
  height: 100%;
}