.MonthlyView{
    width:100%;
    height: 100%;
    background: #fff;
    .left{
        float: left;
    }
   
    .mon_head{
        width:100%;
        height: 60px;
        padding-left:20px;
        // padding-top:16px;
        line-height: 60px;
        .mon_yearText{
            font-size: 30px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #1A59F7;
            margin-right:70px;
            user-select: none;
        }
        .mon_icon1{
            margin-top:11px;
            color:rgba(66, 112, 228, 1);
            font-size:26px;
        }
        .iconBox1{
            margin-right: 20px;
            cursor: pointer;
        }
        .iconBox{
            margin-right: 739px;
            cursor: pointer;
        }
        .iconBox1:hover{
            background: #BEE6FD;
        }
        .iconBox:hover{
            background: #BEE6FD;
        }
        .mon_icon{
            margin-top:11px;
            color:rgba(66, 112, 228, 1);
            font-size:26px;
        }
        .mon_text{
            font-size: 14px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #666666;
            margin-right:7px;
        }
        .mon_input{
            width:150px;
            height: 30px;
            margin-right:40px;
        }
    }
    .mon_middle{
        width:98%;
        margin: auto;
        height: 86%;
        .mon_xinqi{
            width:100%;
            height: 6%;
            overflow: hidden;
            .kon{
                width:3%;
                height: 100%;
                border: 1px solid #e2e2e2;
                background: #F4F4F4;
            }
            .xinqi1{
                width:13.85%;
                height: 100%;
                border: 1px solid #e2e2e2;
                border-left:none;
                background: #F4F4F4;
                font-size: 16px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #999999;
                display: flex;
                align-items:center;
                justify-content:center;
                user-select: none;
            }
        }
        .mon_zhou{
            width:100%;
            height: 18.8%;
            .kon{
                width:3%;
                height: 100%;
                border: 1px solid #e2e2e2;
                border-top:none;
                background: #F4F4F4;
                font-size: 16px;
                font-family: Source Han Sans CN;
                font-weight: bold;
                color: #333333;
                text-align: center;
                padding-top:26px;
                user-select: none;
                box-sizing: border-box;
            }
            .xinqi1:after{
                content: "";
                display: block;
                height: 0;
                clear:both;
                visibility: hidden;
            }
            .xinqi1{
                width:13.85%;
                height: 100%;
                border: 1px solid #e2e2e2;
                border-left:none;
                border-top:none;
                zoom: 1;
                .xinqi1_left{
                    width:40%;
                    height: 100%;
                    font-size: 18px;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #333333;
                    text-align: center;
                    margin-top: 21px;
                    user-select: none;
                }
                .xinqi1_right{
                    width:60%;
                    height: 91%;
                    position: relative;
                    .right_row:nth-of-type(1){
                        margin-top:15px;
                    }
                    .hoverSize{
                        position:absolute;
                        left:0;
                        bottom:-6px;
                        font-size:12px;
                        color:#777;
                        cursor:pointer;
                        user-select:none;
                    }
                    .tis{
                        box-shadow:-7px 7px 50px 0px rgba(51,51,51,0.5);
                        position:absolute;
                        left:-90px;
                        padding-left:35px;
                        width:228px;
                        background:#fff;
                        z-index:15;
                        display:none;
                    }
                    .hoverSize:hover .tis{
                        display: block !important;
                    }
                    .right_row{
                        width:100%;
                        height: 22px;
                        overflow: hidden;
                        margin-bottom: 9px;
                        user-select: none;
                        .right_icon{
                            width:22px;
                            height: 22px;
                            text-align: center;
                            line-height: 22px;
                            font-size: 12px;
                            font-family: Source Han Sans CN;
                            font-weight: 400;
                            color: #FFFFFF;
                            border-radius: 50%;
                            margin-right:10px;
                        }
                        .right_text{
                            width:calc(100% - 32px);
                            font-size: 12px;
                            font-family: Source Han Sans CN;
                            font-weight: 400;
                            color: #666666;
                            white-space:nowrap;
                            overflow: hidden;
                            text-overflow:ellipsis;
                        }
                    }
                }
            }
        }
    }

    .mon_fool{
        overflow: hidden;
        margin-top:10px;
        margin-left:31px;
        .explain{
            font-size: 12px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #666666;
            margin-right:20px;
        }
        .morn_text,.noon_text,.night_text{
            font-size: 12px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #FFFFFF;
            width: 40px;
            height: 22px;
            border-radius: 11px;
            text-align: center;
            line-height: 22px;
            user-select: none;
            margin-right:10px;
        }
        .morn_text{
            background: #0055BE;
        }
        .noon_text{
            background: #1A99EC;
        }
        .night_text{
            background: #1DBCB8;
        }
    }
}