.Team_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    .box {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 9;
    }
    .table_remove,
    .table_edit {
        width: 60px;
        height: 30px;
        background: rgba(255, 255, 255, 1);
        border: 2px solid rgba(228, 228, 228, 1);
        border-radius: 15px;
        position: relative;
        display: inline-block;
        margin-left: 8px;
        cursor: pointer;
    }
    .remove_img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 20px;
        height: 20px;
    }
    .edit_img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 18px;
        height: 20px;
    }
    .xianqing_img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 18px;
        height: 20px;
    }
    .Team_head {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        overflow: hidden;
        background: #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        .head_search {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 368px;
            height: 40px;
        }
        .head_btn {
            width: 110px;
            height: 36px;
            background: #4270e4;
            border: 1px solid #4270e4;
            border-radius: 4px;
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 40px;
            user-select: none;
            cursor: pointer;
            margin-left: 10px;
        }
        .head_add {
            background-color: #fff;
            width: 110px;
            height: 36px;
            border: 2px solid #46be05;
            border-radius: 4px;
            font-size: 16px;
            font-weight: bold;
            line-height: 36px;
            color: #46be05;
            user-select: none;
            cursor: pointer;
            position: relative;
            .img_add {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 5px;
                left: 7px;
            }
            .text_add {
                margin-left: 30px;
            }
        }
    }
    .Team_middle {
        flex: 1;
        width: 100%;
        // height: calc(100% - 60px);
        margin: auto;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.conterFool_bottom {
    width: 97%;
    margin: auto;
    height: 60px;
    padding-top: 15px;
    user-select: none;
    .bottom_text {
        float: left;
        color: #929292;
        font-size: 14px;
    }
    .bottom_firest {
        width: 65px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        color: #fda100;
        border: 1px solid #fda100;
        box-sizing: border-box;
        float: right;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }
    .bottom_last {
        cursor: pointer;
        width: 80px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        color: #f9d79c;
        border: 1px solid #f8ca7a;
        box-sizing: border-box;
        background: #f9f9f9;
        float: right;
        border-radius: 5px;
        margin-left: 10px;
    }
    .bottom_next {
        cursor: pointer;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        color: #fda100;
        border: 1px solid #fda100;
        box-sizing: border-box;
        border-radius: 5px;
        margin-left: 10px;
    }
    .bottom_end {
        cursor: pointer;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        color: #fda100;
        border: 1px solid #fda100;
        box-sizing: border-box;
        border-radius: 5px;
        margin-left: 10px;
    }
    .bottom_input {
        float: right;
        margin-left: 10px;
        color: #9c9c9c;
        .text {
            display: inline-block;
            width: 65px;
            height: 30px;
            margin: 0 5px;
            text-align: center;
            color: #fda100;
        }
    }
    .bottom_jump {
        cursor: pointer;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        color: #fda100;
        border: 1px solid #fda100;
        box-sizing: border-box;
        border-radius: 5px;
        margin-left: 10px;
    }
}
