.flight-managment {
    .flight {
        height: 100%;
    }

    .flight-header {
        overflow: hidden;
        background-color: rgb(221, 221, 221);
        padding: 20px;

        .header-item {
            display: inline-block;
            padding-right: 16px;
        }

        .item-span {
            margin-right: 5px;
        }

        .item-input {
            width: 120px;
        }
    }

    .order-content {
        .btn1 {
            height: 40px;
            font-weight: 600;
            font-size: 16px;
            padding: 0 10px;
            // margin: 0 10px;
            width: 100px
        }

        .add {
            border: 2px solid rgb(110, 202, 60);
            color: rgb(110, 202, 60);
        }

        .search {
            color: #fff;
            background: #4270E4;


        }
        
        .jian-tuo {
            width: 70px;
            border: 2px solid rgb(252, 174, 56);
            margin-left: 16px;
        }


        .float-right {
            float: right;
        }
    }

    .flight-centent {
        height: calc(100% - 130px);
    }

    .flight-footer {
        padding: 0 20px;
        height: 50px;
        display: flex;
        align-items: center
    }
    .table-btn {
        border: 1px solid #E4E4E4;
        height: 30px;
        width: 60px;
        font-size: 14px;
        padding: 0
    }
    .look {
        color: #4270E4;
        width: auto;
        padding: 0 10px;
        line-height: 30px;
    }

    .table-img {
        height: 16px;
        cursor: pointer;

    }

}
.add-info {
    .add-header {
        padding: 0 0 20px 0;
        line-height: 30px;
        overflow: hidden;

        .add-title {
            font-size: 16px;
            font-weight: 500;
            color: #4D8DEF;
            border-left: 4px solid #4D8DEF;
            padding-left: 10px;
            line-height: 16px;
            display: inline-block
        }
    }

    .add-text {
        margin: 0 10px;
    }

    .add-input {

        width: 250px
    }
    .add-input1 {

        width: 230px
    }

    .add-content {
        padding: 0 0 20px 0;
    }
    .add-content1{
        max-height: 400px;
        overflow:auto;
    }
    .add-content2{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        
        // border-bottom: 1px solid #eee;
    }
    .content-item{
        width: 50%;
        padding: 5px 0;
    }
    .add-line{
        width: 100%;
        height: 2px;
        background: #eee;
        margin: 10px 0;
    }

    .add-btn {
        padding: 0;
        height: 30px;
        width: 100px;
        float: right;
        margin-left: 10px;
        color: #fff // text-align:right
    }

    .add1 {
        background: #386DF0;
    }

    .del1 {
        background: #999999;
    }
    .search1{
        
         background: #386DF0;
         float:none;
         height:30px;
         width:80px
        
    }
    .search-input{
        width:150px;
         ::v-deep .el-input__inner {
            height:30px;
         }
    }
   

    .table {
        padding: 20px;
        border: 1px solid #C4C4C4;
        height: 350px;
        background: #F4F4F4;

        ::v-deep .el-table th.is-leaf {
            background: #dcf0f9 !important;
            color: #386df0 !important;
            border: 1px solid #E4E4E4;
        }
    }

}