/*
 * @description: 存放混合器
 * @since: 2019-11-07 21:01:47
 * @Author: jawnwa22
 * @LastEditors: jawnwa22
 * @LastEditTime: 2019-11-07 21:03:27
 */

// 垂直居中
@mixin vc {
    display: flex;
    align-items: center;
}

// 水平垂直居中
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// 文本显示行数，末尾超出时自动添加省略号 支持多行
@mixin ellipsis($row: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
}