// 黑蓝色主题 样式重写
.alarm-container{
    &.blackBlueBg{
        background-color: #06091F!important;

		aside{
			background: #0A122A;
            border: 1px solid #2A3058;
            border-right: 0;
		}

		.content-container{
			background: #081027;
			border: 2px solid #2A3058;
			border-left: 0;
		}

        .content-container{
            background: #081027;
            border: 2px solid #2A3058;
        }
    }
}
.table-container{
    &.blackBlueBg{
        border: 1px solid #2A3058!important;
    }
}

.blackBlueBg{
    .el-loading-mask{
        background-color: rgba(0,0,0,.8);
    }


  //输入框、下拉框等
  input{
    background: #1D2846;
    border: 1px solid #445992!important;
    color: #C6CAD8;

    &:focus{
      border-color: #B2C0E4!important;
    }
    &::-webkit-input-placeholder{
      color: #9AA3BE;
    }
  }
  .el-input__inner{
    background: #1D2846;
    border: 1px solid #445992;
    color: #C6CAD8;

    &:disabled{
        background-color: #35446D;
        border-color: #445992;
    }
  }
  .el-input__inner:focus {
    border-color: #B2C0E4;
  }
  .el-popper{
      &[x-placement^=top] .popper__arrow{
        border-top-color: #445992;
        &::after{
            content: '';
            border-top-color: #1D2846;
        }
      }
  }
  .el-select-dropdown{
    background: #1D2846;
    border: 1px solid #445992;

    .popper__arrow{
      border-bottom-color: #445992;
      &::after{
        content: '';
        border-bottom-color: #1D2846;
      }
    }
    .el-select-dropdown__item{
      color: #C6CAD8;

      &:last-child{
        border-bottom: 0;
      }

      &.hover, &:hover{
        background: #2A3A65;
      }
      &.selected{
        background: #273E7E;
        color: #409EFF;
      }
    }
  }
  // -------------结束

  //表格部分
  .el-table{
      color: #9AA3BE;
  }
  .el-table::before{
    background-color: #2A3058;
  }
  .el-table .nosad1{
      color: #769eff;
  }
  .el-table tr{
      background-color: rgb(24,37,78);
  }
//   .el-table tr th:first-child{
//       border-color: transparent!important;
//   }
  .el-table tr.light-blue th{
      border-bottom: 0;

      &:first-child{
          border-left: 0!important;
      }
  }
  .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid #1D2B55;
  }
  .el-table td select, .el-table td input{
    background: #1D2846;
    border: 1px solid #445992;
    color: #C6CAD8;

    &:focus{
        border-color: #B2C0E4;
    }

    option{
        background: #1D2846;
        border: 1px solid #445992;

        &::-ms-expand{
            display: none;
        }
        &:hover{
            background: #2A3A65;
        }

        &:active{
            background: #273E7E;
            color: #409EFF;
        }
    }
  }
  .el-table tr.high-light{
      background: #0E1732;
  }
  .el-table tr.current-row>td{
      background-color: #273E7E;
  }
  .el-table--enable-row-hover .el-table__body tr:hover>td{
      background-color: #2A3A65;
  }
  .el-table tr.high-light:nth-child(even){
      background: #121C3A;
  }
  .el-table--border{
      border: 1px solid #2A3058;
      border-left: 0;
      border-right: 0;

      &::after{
          content: '';
          background-color: #0E1732;
      }

    th.gutter:last-of-type{
        background-color: #18254e;
        border-color: #18254e;
    }
  }
  .el-table__body-wrapper{
      background: #0E1732;
  }

  .el-checkbox__inner{
      background-color: #18254E!important;
      border: 1px solid #445992;
  }
  .el-checkbox__input.is-disabled .el-checkbox__inner{
    background: #18254E;
    border: 1px solid #445992;
  }
  .el-table .el-checkbox__input.is-checked .el-checkbox__inner{
      background: #18254E;
  }
  .el-table .el-checkbox__inner::after{
      content: "";
      border-color: #84D063;
  }
  // -------------结束

  //分页
  .page{
    color: #9AA3BE;

    .btn{
      background: transparent;
      border: 2px solid #9AA3BE!important;
      color: #8798C9!important;
  
      &.nopage{
        border-color: #2E437E!important;
        color: #8798C9!important;
      }
    }
    .left{
        color: #9AA3BE;
    }
  
    .right{
      color: #9AA3BE;
        .btn{
            background: transparent;
            border: 2px solid #9AA3BE!important;
            color: #8798C9;
        }
        .el-input__inner{
            color: #FDA100;
        }
    }
  }
  .blackBlueBg{
      .el-table{
          .sad{
              color: #EB4444;
          }
      }
  }
  // -------------结束

  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar {
      width: 17px;
      height: 17px;
  }
  /*定义滚动条轨道（track）和滑块（thumb）*/
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
  }
  ::-webkit-scrollbar-track {
      background-color: #121F46;
  }
  /*定义滚动条顶部（左侧）的按钮块*/
  ::-webkit-scrollbar-button:horizontal:start {
    width: 18px;
    height: 18px;
    background-image: url(../../assets/images/icon_zuo.png);
    background-size: cover;
    }
    // 定义滚动条底部（右侧）的按钮块*!
    ::-webkit-scrollbar-button:horizontal:end {
        width: 18px;
        height: 18px;
        background-image: url(../../assets/images/icon_you.png);
        background-size: cover;
    }
    ::-webkit-scrollbar-button:vertical:start {
        width: 18px;
        height: 18px;
        background-image: url(../../assets/images/icon_shang.png);
        background-size: cover;
    }
    // 定义滚动条底部（右侧）的按钮块*!
    ::-webkit-scrollbar-button:vertical:end {
        width: 18px;
        height: 18px;
        background-image: url(../../assets/images/icon_xia.png);
        background-size: cover;
    }
  ::-webkit-scrollbar-thumb {
      background: #1F305E;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #2A3A65;
  }
  ::-webkit-scrollbar-thumb:active {
      background: #273E7E;
  }
  /*定义水平和垂直滚动条两者的交界处（拐角）*/
  ::-webkit-scrollbar-corner {
      display: block;
  }
}

.blackBlueBg{
    //提示框
    .tip,.tip11{
        background-color: #2A3E76!important;
        .tipcontanin{
            background-color: #2A3E76;
            color: #fff;

            .delclass{
                .two{
                    color: #dea652;
                }
            }
            .tipdetermine{
                color: #dea652;
            }
        }
    }
    .exportTableBox{
        background-color: #2A3E76!important;
        border-color: transparent!important;

        .exportTable_box{
            border-color: #445992!important;
            color: #fff;
        }
    }
    
    // 查询
    .search-container{
        background: #0B1530!important;
        border-bottom: 1px solid #38415A;
        color: #E4E4E4;

        .search-left{
            .btn{
                background-color: #386DF0;
            }
            .allconfim{
                background: #FF6600;
            }
        }
        .add{
            background-color: transparent;
            border: 1px solid #46BE05;
            color: #46BE05;
        }
        .move{
            background-color: #4F5871;
            border: 1px solid #4F5871;
            color: #fff;
        }
    }

    .el-checkbok{
        color: #fff;
    }

    .el-table__fixed-right::before, .el-table__fixed::before{
        content: '';
        background-color: transparent;
    }
}
.errorsetion{
    &.blackBlueBg{
        background-color: #233056!important;
        color: #FFFFFF;

        .errorcontent{
            input{
                background-color: #1D2846!important;
                border: 1px solid #445992!important;
                color: #9AA3BE;

                &:focus{
                    border-color: #B2C0E4!important;
                }

                &:disabled{
                    background: #35446D!important;
                    border: 1px solid #445992!important;
                    color: #8798C9;
                }
            }
        }

        .btn{
            .btn1{
                background-color: #999999!important;
            }
            .btn2{
                background-color: #386DF0!important;
            }
        }
    }
}

.blackBlueBg{
    .el-tree{
        .is-indeterminate{
            .el-checkbox__inner{
                &::before{
                    content: '';
                    border-color: #84D063;
                }
            }
        }
        .el-checkbox__inner{
            background-color: #18254E!important;
            border: 1px solid #445992;

            &::after{
                content: '';
                border-color: #84D063;
            }

            &:hover{
                background: #18254E;
                border: 1px solid #B2C0E4;
            }
        }
        .el-tree-node{
            &:focus{
                &>.el-tree-node__content{
                    background-color: #36497B;
                }
            }
        }
        .el-tree-node__content{
            &:hover{
                background-color: #36497B;
            }
        }

        .el-tree-node__label{
            color: #fff;
        }
    }
}

//日期选择框
.blackBlueBg{
    &.el-picker-panel{
        background: #1D2846;
        border: 1px solid #445992;

        .el-date-picker__time-header{
            border-bottom-color: #6F7DA5;
        }
        

        .el-date-picker__editor-wrap{
            .el-input__inner{
                &:focus{
                    border-color: #409EFF;
                }
            }
        }
        .el-time-panel{
            background: #152140;
            border: 1px solid #445992;
            color: #9AA3BE;
        }
        .el-time-spinner__item{
            color: #9AA3BE;

            &.active:not(.disabled){
                color: #E4E4E4;
            }
            &:hover:not(.disabled):not(.active){
                background-color: #293B6B;
                color: #9AA3BE;
            }
        }
        .el-time-panel__content::after, .el-time-panel__content::before{
            border-bottom-color: #586482;
            border-top-color: #586482;
        }
        .el-time-panel__footer{
            border-top-color: #445992;
            .el-time-panel__btn{
                color: #9AA3BE;

                &.confirm{
                    color: #409EFF;
                }
            }
        }

        .el-picker-panel__icon-btn{
            color: #E4E4E4;
        }
        .el-date-table{
            th{
                color: #e4e4ee;
                border-bottom-color: #586482;
            }
            td{
                &.available{
                    color: #9AA3BE;

                    &:hover{
                        color: #409EFF;
                    }
                }
                &.next-month, &.prev-month{
                    color: #6D789A;
                }
            }
        }
        .el-date-picker__header-label{
            color: #E4E4E4;
        }
        .el-picker-panel__footer{
            background: #1D2846;
            border-top-color: #445992;

            .is-plain{
                border: 1px solid #445992;
                background-color: transparent;
                color: #9AA3BE;
            }
        }

        .popper__arrow{
            border-top-color: #445992;
            border-bottom-color: #445992;

            &::after{
                content: '';
                border-top-color: #1D2846;
                border-bottom-color: #1D2846;
            }
        }
    }
}

.blackBlueBg{
    &.public-table, &.tapwater{
        .el-radio__inner{
            background-color: transparent!important;
        }
        
        .el-table tr{
            td{
                background-color: #121C3A;
            }

            &:nth-child(odd){
                td{
                    background-color: #0E1732;
                }
            }

            &:hover{
                td{
                    background-color: #2A3A65;
                }
            }
        }
        .el-table--striped .el-table__body tr.el-table__row--striped.current-row td{
            background-color: #273E7E;
        }
        .el-table--striped .el-table__body tr.hover-row td{
            background-color: #2A3A65;
        }

        input,select,textarea{
            color: #C6CAD8;
            background: #1D2846;
            border-color:#445992!important;

            &:disabled{
                background: #35446D;
                border-color: #445992!important;
            }

            &::-webkit-input-placeholder{
                color: #9AA3BE;
            }

            &:focus{
                border-color: #B2C0E4!important;
            }
        }

        .lookselect,.selectvartable{
            .el-table tr{
                td{
                    background-color: #1A2544;
                    border-bottom-color: #445992;
                }
                &:nth-child(odd){
                    td{
                        background-color: #1A2544;
                    }
                }
            }
        }
        .addPop{
            .addPop_list,.addPop_equipment,.addPop_spotcheck{
                .list_title,.addPop_equipmentList,.addPop_spotcheckList{
                    background-color: #1A2544!important;

                    .middle_title{
                        background-color: #344c8f!important;
                    }

                    div.num,div.id,div.ipt,div.name,div.setType,div.typeNum,div.type,
                    div.topNum,div.bottomNum,div.zhi,div.option,div.Explain{
                        background: #344C8F!important;
                        color: #fff;
                        border-color: #8B98B8!important;
                    }
                    div.typeNum,div.Explain{
                        border-right: 0!important;
                    }
                }
                div.list_conter{
                    border-bottom-color: #445992;

                    div.num,div.id,div.ipt,div.name,div.setType,div.typeNum,div.type{
                        background: #1A2544;
                        color: #8798C9;
                        border-right-color: transparent;
                    }
                    div.typeNum,div.Explain{
                        border-right: 0!important;
                    }
                }
                div.middle_conter{
                    border-bottom-color: #445992!important;
                    background-color: #1A2544!important;


                    div.num,div.id,div.ipt,div.name,div.setType,div.typeNum,div.type,
                    div.topNum,div.bottomNum,div.zhi,div.option,div.Explain{
                        background: #1A2544!important;
                        color: #8798C9;
                        border-right-color: transparent!important;
                    }
                }
            }
        }

        .addEquipment{
            .conter_middle{
                .middle_title{
                    div.num,div.id,div.ipt,div.name,div.setType,div.typeNum,div.type{
                        background: #344C8F;
                        color: #fff;
                        border-color: #8B98B8;
                    }
                }
                div.middle_conter{
                    border-bottom-color: #445992;

                    div.num,div.id,div.ipt,div.name,div.setType,div.typeNum,div.type{
                        background: #1A2544;
                        color: #8798C9;
                        border-right-color: transparent;
                    }
                }
            }
            .conter{
                div.selectword{
                    background: #1D2846;
                    border: 1px solid #445992;
                }
            }
        }
    }
    .look{
        background: #233056;

        .lookselect{
            background: #28355B;
            border-color: #445992;
            color: #fff;

            .table{
                border-color: #2A3058;
            }
            .el-table__body-wrapper {
                background: #1A2544;
            }
            .el-table tr td{
                background: #1A2544;
                border-bottom-color: #445992;
            }
            .el-table--border th.gutter:last-of-type{
                background-color: #344c8f;
                border-bottom-color: transparent;
            }
            .selectword{
                background: #1D2846;
                border: 1px solid #445992;
            }
            .el-table tr.current-row > td{
                background-color: #273E7E;
            }
        }

        .lookcontent{
            .table{
                border-color: #2A3058;
            }
            .el-table__body-wrapper {
                background: #1A2544;
            }
            .el-table tr td{
                background: #1A2544;
                border-bottom-color: #445992;
            }
            .el-table--border th.gutter:last-of-type{
                background-color: #344c8f;
                border-bottom-color: transparent;
            }
            .selectword{
                background: #1D2846;
                border: 1px solid #445992;
            }
            .el-table tr.current-row > td{
                background-color: #273E7E;
            }
        }
    }

    .el-color-picker__trigger{
        border-color: #445992;

        .el-color-picker__color{
            border-color: #445992;
        }
    }

    &.el-color-picker__panel{
        background: #1D2846;
        border-color: #445992;


        .is-plain{
            background-color: transparent;            
            color: #9AA3BE;
            border-color: #445992;
        }
    }
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.blackBlueBg::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}
/*定义滚动条轨道（track）和滑块（thumb）*/
.blackBlueBg::-webkit-scrollbar-track,
.blackBlueBg::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.blackBlueBg::-webkit-scrollbar-track {
    background-color: #121F46;
}
/*定义滚动条顶部（左侧）的按钮块*/
.blackBlueBg::-webkit-scrollbar-button:horizontal:start {
  width: 18px;
  height: 18px;
  background-image: url(../../assets/images/icon_zuo.png);
  background-size: cover;
}
// 定义滚动条底部（右侧）的按钮块*!
.blackBlueBg::-webkit-scrollbar-button:horizontal:end {
    width: 18px;
    height: 18px;
    background-image: url(../../assets/images/icon_you.png);
    background-size: cover;
}
.blackBlueBg::-webkit-scrollbar-button:vertical:start {
    width: 18px;
    height: 18px;
    background-image: url(../../assets/images/icon_shang.png);
    background-size: cover;
}
// 定义滚动条底部（右侧）的按钮块*!
.blackBlueBg::-webkit-scrollbar-button:vertical:end {
    width: 18px;
    height: 18px;
    background-image: url(../../assets/images/icon_xia.png);
    background-size: cover;
}
.blackBlueBg::-webkit-scrollbar-thumb {
    background: #1F305E;
}
.blackBlueBg::-webkit-scrollbar-thumb:hover {
    background: #2A3A65;
}
.blackBlueBg::-webkit-scrollbar-thumb:active {
    background: #273E7E;
}
/*定义水平和垂直滚动条两者的交界处（拐角）*/
.blackBlueBg::-webkit-scrollbar-corner {
    display: block;
}