// 鼠标手样式
.pointer {
    cursor: pointer;
}

// 给flex布局下的两个元素制造空位
.v-spacer {
    flex-grow: 1 !important;
}

// 弹窗日期时间width修改
.margin-date .el-input__inner {
    width: 240px;
}

// 弹窗标题line样式修改
.homesetion {
    display: flex;
    align-items: center;
    
    .hometop-title {
        display: inline-block;
        padding-right: 10px;
        position: relative;
        background: #eee;
        z-index: 9;
    }
    .line {
        width: 97% ;
    }   
}
textarea {
    resize: none;
}

// 去除输入框type===number时的默认样式
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}