/* element 样式重写部分 */

/* 修改提示窗样式 */
.confirmDialog.el-message-box {
    width: 380px;
    border: unset;
    border-radius: unset;
    font-family: "思源黑体 CN";
    box-shadow: 0px 0px 8px black;

    .el-message-box__header {
        background: #FFBC3D;
        display: flex;
        justify-content: center;
    }

    .el-message-box__content {
        min-height: 125px;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .el-message-box__status {
        display: none;

        +.el-message-box__message {
            padding-left: 14px;
        }
    }

    .el-message-box__message {
        height: 100%;
        width: 100%;
        display: flex;
        font-size: 16px;
        // justify-content: center;
        // align-items: center;
        overflow: auto;

        p {
            width: 100%;
            text-align: center;
            align-self: center;
            justify-self: center;
            max-height: 600px;
        }
    }

    .el-message-box__title,
    .el-message-box__headerbtn .el-message-box__close {
        font-size: 16px;
        color: #ffffff;
    }

    .el-message-box__close {
        display: none;
    }

    
     .el-message-box__title span {
        position: relative;
    }

    .el-message-box__title span::before {
        content: '';
        background: url('../../assets/images/gth.png');
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0px;
        left: -20px;
        background-size: cover;
    }

    .el-message-box__btns {
        display: flex;
        justify-content: center;
        padding: 5px 23px;
    }

    .el-message-box__btns .el-button--primary,
    .el-message-box__btns .el-button--default {
        flex: 1;
        font-size: 16px;
        border: unset;
        border-radius: unset;
    }

    .el-message-box__btns .el-button--default {
        background-color: #e0e0e0;
        color: #7e7e7e;
    }

    .el-message-box__btns .el-button--default:focus,
    .el-button--default:hover {
        background-color: #e0e0e0;
        color: #7e7e7e;
    }

    .el-message-box__btns .el-button--primary {
        background: #F3E3AD;
        color: #EBA241;
    }

    .el-message-box__btns .el-button--primary:focus,
    .el-button--primary:hover {
        background: #F3E3AD;
        color: #EBA241;
    }
}

.confirmDialog4.el-message-box {
    .el-message-box__content {
        min-height: 175px;
        text-align: center;
        display: flex;
        align-items: center;
    }
}
/* dialog */
.common_dialog.el-dialog {
    .el-dialog__header {
        padding: 10px 20px;
        text-align: center;
        background: #386DF0;
    }

    .el-dialog__title {
        font-size: 18px;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #EEEEEE;
    }

    .el-dialog__headerbtn {
        top: inherit;

        .el-dialog__close {
            font-size: 24px;
            color: #EEEEEE;
        }
    }

    .el-dialog__body {
        padding: 20px 30px;
        background: #EEEEEE;
    }

    .el-dialog__footer {
        background: #EEEEEE;
    }

    .d_footer_cancel.el-button {
        padding: 10px 35px;
        background: #AAAAAA;
        color: #fff;
        border-color: #AAAAAA;
    }

    .d_footer_sure.el-button {
        padding: 10px 35px;
        background: #396DEF;
        color: #fff;
        border-color: #396DEF;
    }

    /* searchform 样式大小统一修改 */
    .el-range-editor.el-input__inner {
        height: 34px;

        .el-range__icon {
            line-height: 28px;
        }

        .el-range-separator {
            line-height: 26px;
        }
    }

    .common_button.el-button {
        padding: 7px 35px;
    }
}

.location_dialog.el-dialog {
    .el-dialog__body {
        background: #fff;
    }
    .el-dialog__footer {
        background: #fff;
    }
}

/* button */
.common_button.el-button {
    padding: 10px 35px;
    border: 1px solid transparent;

    &:hover {
        opacity: 0.75;
    }
}

.common_mini_button.el-button {
    padding: 6px 35px;
    border: 1px solid transparent;

    &:hover {
        opacity: 0.75;
    }
}

.common_button_add.el-button {
    color: #fff;
    border-color: #386DF0;
    background: #386DF0;
}

.common_button_remove.el-button {
    color: #fff;
    border-color: #999999;
    background: #999999;
}


.common_button_search.el-button {
    color: #fff;
    border-color: #386DF0;
    background: #386EED;
}

// plain按钮
.common_button_plain_search.el-button {
    color: #386DF0;
    border-color: #386DF0;

    &:focus {
        background: #fff
    }

    &:hover {
        background: #fff
    }
}

/* select */
.common_select.el-select {
    width: 100%;
    height: 100%;
}

/* input */
.common_input.el-input-number {
    width: 100%;
}

// 表格内input
.table_input.el-input,
.table_input.el-input-number {
    width: 100%;

    .el-input__inner {
        height: 34px;
        border-radius: 0px;
    }

    .el-input-group__append,
    .el-input-group__prepend {
        padding: 0;
        border-radius: 0px;
    }
}

.table_select.el-select {
    width: 100%;

    .el-input__inner {
        // height: 34px;
        border-radius: 0px;
    }
}