/* element 样式重写部分 */

/* 修改提示窗样式 */
.confirmDialog.el-message-box {
  width: 380px;
  border: unset;
  border-radius: unset;
  font-family: "思源黑体 CN";
  box-shadow: 0px 0px 8px black;
  .el-message-box__header {
    background: #FFBC3D;
    display: flex;
    justify-content: center;
  }

  .el-message-box__content {
    height: 125px;
    text-align: center;
  }

  .el-message-box__status {
    display: none;
    +.el-message-box__message {
      padding-left: 14px;
    }
  }

  .el-message-box__message {
    height: 100%;
    width: 100%;
    display: grid;
    font-size: 16px;
    // justify-content: center;
    // align-items: center;
    overflow: auto;

    p {
        align-self: center;
        justify-self: center;
    }
  }

  .el-message-box__title,
  .el-message-box__headerbtn .el-message-box__close {
    font-size: 16px;
    color: #ffffff;
  }

  .el-message-box__close {
    display: none;
  }

  .el-message-box__title span {
    position: relative;
  }

  .el-message-box__title span::before {
    content: '';
    background: url('../../assets/images/gth.png');
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0px;
    left: -20px;
    background-size: cover;
  }

  .el-message-box__btns {
    display: flex;
    justify-content: center;
    padding: 5px 23px;
  }

  .el-message-box__btns .el-button--primary,
  .el-message-box__btns .el-button--default {
    flex: 1;
    font-size: 16px;
    border: unset;
    border-radius: unset;
  }

  .el-message-box__btns .el-button--default {
    background-color: #e0e0e0;
    color: #7e7e7e;
  }

  .el-message-box__btns .el-button--default:focus,
  .el-button--default:hover {
    background-color: #e0e0e0;
    color: #7e7e7e;
  }

  .el-message-box__btns .el-button--primary {
    background: #F3E3AD;
    color: #EBA241;
  }

  .el-message-box__btns .el-button--primary:focus,
  .el-button--primary:hover {
    background: #F3E3AD;
    color: #EBA241;
  }
}

.v-modal {
  background-color: transparent;
}

