// 公共表格组件的样式
.div1{
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 360px;
    }
}
.cpktable{
    table{
        width: 100% !important;
    }
}
.search-item {
    .el-input__inner {
        border: 1px solid #ccc;
        border-radius: 0;
    }
}
.tabledata10{
    .el-table--scrollable-x .el-table__body-wrapper{
        overflow-x: hidden;
    }
}
.tabledata11{
    .el-table--scrollable-x .el-table__body-wrapper{
        overflow-x: auto;
    }
}
.el-table {
    tr.light-blue {
        th {
            background-color: #5a6c98;
            color: #fff;
        }
    }
    tr.blue {
        th {
            background-color: #5a6c98;
            color: #fff;
        }
    }
    tr.high-light:nth-child(even) {
        background-color: #eaedee;
    }
    .sad{
        color: red;
    }
    .nosad{
        color: #f6b81a;
    }
    .nosad1{
        color: #121FFC;
    }
    .el-checkbox__inner{
       width: 1.5vw;
       height: 1.5vw;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  
    top: 10px;
}
.el-checkbox__inner::after{
    height: 1vw;
    width: 0.5vw;
    left: 0.3vw;
    border: 3px solid #98d87d;
    border-left: 0;
       border-top: 0;
   }
   .el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: #fff;
   }
}

.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-right: none;
}

.pages {
    .el-input__inner {
        width: 80px;
        height: 28px;
        border-radius: 0;
    }
}
.margin .el-input__inner{
   text-indent: 0.5em;
    width: inherit;
    height: 36px;
    border: none;
    border: 1px solid #e0e0e0;
   
}
.first {
    .el-table__body tr.current-row>td{
        background-color: #d4defb !important;
        /* color: #d4defb; */  /* 设置文字颜色，可以选择不设置 */
      }
      /* 用来设置当前页面element全局table 鼠标移入某行时的背景色*/
      .el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: #d4defb;
        /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
      }
    td{
        // background-color:#d4defb;
        border: 1px solid #fff;
        

    }
    .tdone{
        background-color:#d4defb;
    }
    .s{
        background-color:red !important;
    }
}
.second {
    
    /* 用来设置当前页面element全局table 选中某行时的背景色*/
    .el-table__body tr.current-row>td{
      background-color: #d4defb !important;
      /* color: #d4defb; */  /* 设置文字颜色，可以选择不设置 */
    }
    /* 用来设置当前页面element全局table 鼠标移入某行时的背景色*/
    .el-table--enable-row-hover .el-table__body tr:hover>td {
      background-color: #d4defb;
      /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
    }
    td{
        // background-color:#d4defb;
        border: 1px solid #fff;
    }
    .tdtwo{
        background-color:#d4defb;
    }
    .el-table .success-row {
        background: red;
      }
      .el-table .warning-row {
        background: green;
      }
}
.third{
    .el-table__body tr.current-row>td{
        background-color: #d4defb !important;
        /* color: #d4defb; */  /* 设置文字颜色，可以选择不设置 */
      }
      /* 用来设置当前页面element全局table 鼠标移入某行时的背景色*/
      .el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: #d4defb;
        /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
      }
    .tdtree{
        background-color:#d4defb;
    }
}
.inp2 {
    margin-top: 25px;
    margin-bottom: 15px;
    .el-checkbox__input.is-checked .el-checkbox__inner{
        background-color: #fff;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        margin-left: 80px;
        // display: inline-block;
    }
    .el-checkbox__label{
        font-size: 16px;
        color: #000;
        
    }
    .el-checkbox__inner::after{
        height: 16px;
        width:8px;
        border:4px solid #B4E3A0;
        border-left: 0;
        left: 7px;
    border-top: 0;
    }
    .el-checkbox__inner{
        background-color: #fff;
        width: 30px;
        margin-left: 80px;
        height: 30px;
        border: 1px solid #ccc;
    }
    .el-checkbox__input.is-checked+.el-checkbox__label{
        color: #000;
        font-size: 16px;
    }
}
.inp3 {
    margin-top: 15px;
    margin-bottom: 15px;
    .el-checkbox__input.is-checked .el-checkbox__inner{
        background-color: #fff;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        margin-left: 80px;
        // display: inline-block;
    }
    .el-checkbox__label{
        font-size: 16px;
        color: #000;
        
    }
    .el-checkbox__inner::after{
        height: 16px;
        width:8px;
        border:4px solid #B4E3A0;
        border-left: 0;
        left: 7px;
    border-top: 0;
    }
    .el-checkbox__inner{
        background-color: #fff;
        width: 30px;
        margin-left: 80px;
        height: 30px;
        border: 1px solid #ccc;
    }
    .el-checkbox__input.is-checked+.el-checkbox__label{
        color: #000;
        font-size: 16px;
    }
}
.Unqualifiedsetinon{
    .el-radio__input.is-checked .el-radio__inner {
         background-color: #fff;
         width: 18px;
         height: 18px;
    }
    .el-radio__inner::after{
       background-color: #23B800; 
       width: 6px;
       height: 6px;
    }
    .el-radio__inner{
        width: 18px;
        height: 18px;
    }
    .el-radio__label{
        font-size: 16px;
        color: #000;
    }
    .el-radio__input.is-checked+.el-radio__label{
        font-size: 16px;
        color: #000;
    }
}
.table2{
    .eltable{
    overflow-x: hidden;
   }
   .el-table--scrollable-x .el-table__body-wrapper{
       overflow-x:hidden;
   }
}
.firsttable{
    .el-table{
        // display: none;
        // z-index: 1;
    }
}
.addsomeprohead{
    z-index: 100;
}
.sad1{
    .el-table_1_column_1 {
        width: 100px !important;
    }
    .el-table--border td{
        min-width: 200px !important;
    }
   
    .el-table{
        th{
        border: 1px solid #939EBC !important;
        width: 200px !important;
        text-align: center;
        min-width: 200px !important;
        background-color: #5A6C98 !important;
        color: #F6F0EE !important;
        }
    }
    .el-table--border td{
        width: 200px !important;
        text-align: center;
    }
    td{
        min-width: 100px !important;
    }
}
.table{
    input{
        height: 30px;
        border: none;
        text-indent: 1em;
        border: 1px solid #ccc;
    }
}
.box{
    .el-checkbox__inner{
        background-color: #ffffff !important;
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
        top: 9px;
        border: 1px solid green;
    }
    .el-checkbox__inner{
        width: 20px;
        height: 20px;
        background-color: #ffffff;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner{
        background-color: #ffffff;
    }
    
    .el-checkbox__inner::after{
        border: 2px solid green;
        border-top:none;
        height: 12px;
        width: 6px;
        border-left: none;
    }
}
.bluer{
    .el-checkbox__inner{
        background-color: #ffffff !important;
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
        top: 9px;
        border: 1px solid green;
    }
    .el-checkbox__inner{
        width: 20px;
        height: 20px;
        background-color: #ffffff;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner{
        background-color: #ffffff;
    }
    
    .el-checkbox__inner::after{
        border: 2px solid green;
        border-top:none;
        height: 12px;
        width: 6px;
        border-left: none;
    }
}
.addPop{
  
    .el-icon-close:before{
        font-size: 30px;
        // float: right;
        // position: relative;
        // left: 950px;
        color: #fff;
        // margin-top: 12px;
        // margin-right: 10px;
        cursor: pointer;
    }
}
.addEquipment{
 
    .el-icon-close:before{
        font-size: 30px;
        
        // float: right;
        // position: relative;
        // left: 1080px;
        color: #fff;
        // margin-top: 12px;
        // margin-right: 10px;
        cursor: pointer;
    }
}
.sad1{
   
      .el-table__body-wrapper::-webkit-scrollbar {
       
        height: 0px; // 纵向滚动条 必写
        width: 15px;
      }
      .el-table__body-wrapper::-webkit-scrollbar-thumb {
        background-color: #ddd;
      }    
}
.fl{
    .el-input--suffix .el-input__inner{
        padding-right: 10px !important;
      }
      .el-date-editor.el-input{
        width: 190px !important;
      }
      .el-input--prefix .el-input__inner{
        padding-left: 10px !important;
      }
      .table input{
        height: 40px !important;
      }
  }
  .tabledata{
      input{
          width: 100% ;
          text-indent: 0.5em;
      }
  }
  #tabledata th {
    background-color: #dcf0f9 !important;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
    text-align: center;
}
  .table-container1{
    .el-table__body-wrapper {
        // height: 92% !important;
    }
    .el-table {
        .el-table__fixed {
          height:auto !important; // 此处的important表示优先于element.style
          bottom:17px; // 改为自动高度后，设置与父容器的底部距离，则高度会动态改变
        }
      }
      .el-table__fixed-right::before, .el-table__fixed::before{
          height: 0;
      }
  }
  .atable{
    .el-table {
        .el-table__fixed {
          height:auto !important; // 此处的important表示优先于element.style
          bottom:17px; // 改为自动高度后，设置与父容器的底部距离，则高度会动态改变
        }
      }
  }
  .table-container1{
    .el-table--border th.gutter:last-of-type {
        display: block!important;
        width: 17px!important;
    }
  }
 
.ys{
   overflow: auto;
   width:100%;
   height: calc(100% - 45px);
}
.selecttree{
    overflow: auto;
   width:100%;
   height: calc(100% - 45px);
}
.table1{
    .el-table--border th.gutter:last-of-type {
        display: block!important;
        width: 17px!important;
    }
  }
  .mmm input{
      width: 100%;
      border: 1px solid #ddd;
  }
  .borderleft{
    border-left: 1px solid rgb(0, 0, 0);
}
.bordertop{
    border-top: 1px solid rgb(0, 0, 0);
}
.borderright{
    border-right: 1px solid rgb(0, 0, 0);
}
.borderbottom{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.nowinput{
    background-color: #BEE6FD !important;
}
.page2{
    // z-index: 1999 !important;
    cursor: pointer;
}
.el-progress-bar__inner{
    background-color: #00C297 !important;
}
.el-table tr:first-child th:first-child>.cell{
    text-overflow: unset!important;;
}
.public-table{
    position: relative;
}
.el-table__body tr.current-row>td{
    background-color: #CADEF5 !important;
 }
